@font-face {
  font-family: PP; /* set name */
  src: url(PPRadioGrotesk-Light.woff); /* url of the font */
}



body{
    background-color:black;
    overflow: hidden;
}

#logo{
    width: 100%;

}

a{
    color: white !important;
    font-family: PP;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 2em;
}

a:hover{
    text-decoration: underline;
}

#links{
    padding-top: 10vh;
}

.link{
    text-align: center;
}

#all{
    margin: auto;
    width: 70vw;
    margin-top: 30vh;
}

#video{
    min-height: 100vh;
  position: absolute;
    left: 50vw;
  top: 50vh;
transform: translate(-50%, -50%);
    z-index: -100;

}
