@font-face {
  font-family: PP; /* set name */
  src: url(PPRadioGrotesk-Light.woff); /* url of the font */
}



body{
    background-color:black;
    overflow: hidden;
}

#logo{
    width: 100%;

}

a{
    color: blue !important;
    font-family: PP;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.5em;
}

a:hover{
    text-decoration: underline;
}

#links{
    padding-top: 10vh;
}

.link{
    text-align: center;
}

#all{
    margin: auto;
    width: 40vw;
    margin-top: 40vh;
}

#video{
    position: absolute;
    left: 50vw;
  top: 50vh;
transform: translate(-50%, -50%);
    z-index: -100;

}

@media only screen and (max-width: 600px)  {
    
    #all{
        width: 80vw;
        margin-top: 40vh;
    }
    
    a{
    font-size: 2em;
    }

  #video{
    height: 100vh;
  }
    
    }
